a{color:#039}.skin{background-image:url(img/cf35b8de410727988751c10fd486b28497f451a7.png);background-position:0 86px}.skin-fullScreen{background-image:url(img/237606d7380e8080c568c8a46f928b3afd609932.jpg);background-position:0 86px}.skin-top{background-image:url(img/b999fbd09d39bf37327cf25394aab6db1e074995.jpg)}
.skin-top{background:-webkit-linear-gradient(top,#196eac 0,#7fb4d9 100%);background:-moz-linear-gradient(top,#196eac 0,#7fb4d9 100%);background:-ms-linear-gradient(top,#196eac 0,#7fb4d9 100%);background:-o-linear-gradient(top,#196eac 0,#7fb4d9 100%);background:linear-gradient(top,#196eac 0,#7fb4d9 100%)}
.skin-top-inner{display:block;background:-webkit-linear-gradient(left,RGBA(255,255,255,0) 0,#CAE0F1 50%,RGBA(255,255,255,0) 100%);background:-moz-linear-gradient(left,RGBA(255,255,255,0) 0,#CAE0F1 50%,RGBA(255,255,255,0) 100%);background:-ms-linear-gradient(left,RGBA(255,255,255,0) 0,#CAE0F1 50%,RGBA(255,255,255,0) 100%);background:-o-linear-gradient(left,RGBA(255,255,255,0) 0,#CAE0F1 50%,RGBA(255,255,255,0) 100%);background:linear-gradient(left,RGBA(255,255,255,0) 0,#CAE0F1 50%,RGBA(255,255,255,0) 100%)}
.skin-top-inner2{display:block;background:-webkit-linear-gradient(top,#0060B6 0,RGBA(255,255,255,0) 100%);background:-moz-linear-gradient(top,#0060B6 0,RGBA(255,255,255,0) 100%);background:-ms-linear-gradient(top,#0060B6 0,RGBA(255,255,255,0) 100%);background:-o-linear-gradient(top,#0060B6 0,RGBA(255,255,255,0) 100%);background:linear-gradient(top,#0060B6 0,RGBA(255,255,255,0) 100%);opacity:.4}
.skin-top-left{}
.skin-top-right{background-image:url(img/1a62faa3aaf960a9338b4a758718e9185bb47fd5.png);_background-image:url(img/b5cf0b0905f5637d7b6727d4151fe428fb54352f.gif)}
.skin-left-top{}
.skin-left-bottom{}
.skin-right{}
.skin-right-top{}
.skin-right-bottom{}
.skin-bottom{}
.rP0{visibility:hidden}
.sJ0,.tA0,.fn-bgx{background-repeat:repeat-x}
.kl0{color:#fdfdfd!important}
.sh0{color:#fff!important}
.pn1{color:#fff}
.ru0{}
.sU0 .nui-ipt-placeholder{}.pR0{text-shadow:0 1px 1px RGBA(0,0,0,.2)}.tA0{border-color:#f8fafc;color:#333}.tz0 .nui-tabs-item-focus,.tz0 .nui-tabs-item-hover{border-color:#f8fafc}.tz0 .nui-tabs-item-active{border-color:#f8fafc}.tz0 .nui-tabs-item-selected{border-color:#0F6099;color:#fff}.tT0 .nui-tree{}.oz0{text-shadow:#fff 0 1px 0;color:#3c6692}.qd0{display:block}.tT0 .nui-tree-item-label-hover,.tT0 .nui-tree-item-label:hover{}.tT0 .nui-tree-item-label-selected,.tT0 .nui-tree-item-label-selected:hover{}.tT0 .nui-tree-item-label-selected .nui-tree-item-text{text-shadow:#fff 0 1px 0}.qW0{border-color:#e0e0e0}.qq0{opacity:.03;filter:alpha(opacity=3)}.gWel .frame-main-cont-body{background:0}.tR0 .frame-main-cont-head{background-color:#f5f7fa}.sI0{background-color:#f5f7fa}.lB0{border-color:#c5d2da}.iI0{color:#999}.tI0 .nui-split{border-color:#c5d2da}.sz0{background-color:#f5f7fa;border-color:#cad8e1}.fM0{background-color:#e8f0f7;border-color:#C2D4E3}.tn0 .nui-split{border-color:#c5d2da}.tW0,.tW0 .frame-main-cont-head,.tW0 .frame-main-cont-body,.tL0,.tL0 .frame-main-cont-head,.tL0 .frame-main-cont-body{background-color:#F5F7FA}.kZ0{border-color:#ccc}.G0{background-color:#E3EAF4}.pW0:hover{background-color:#CDE3F3}.lA0{background-color:#F9F9F9}.tb0,.tv0,.nl0{border-color:#d5d6d7}.nl0,.im0,.hV0{background-color:#fff}.es0,.eO0{color:#bbb}.fQ0 .il0{color:#7d7d7d}.rF0:hover,.rF0:hover .nl0,.rF0:hover .im0,.rF0:hover .hV0{background-color:#f5f5f5}.gv0 .nl0,.gv0 .im0,.gv0 .hV0{background-color:#ffffec}.gv0:hover .nl0,.gv0:hover .im0,.gv0:hover .hV0{background-color:#fdfde0}.ij0 .nl0,.ij0 .nl0 .im0,.ij0 .nl0 .hV0{background-color:#ffffd5!important}.nn0{border-color:#a3bdd0}.bL0{background-color:#b0b7bf;border-color:#b0b7bf;color:#fff}.dd0{color:#aaa}.iU2{border-color:#999!important}

.itcui-navigation-item,
.itcui-navigation-item-hover,
.itcui-navigation-item-active,
.itcui-navigation-item-selected,
.itcui-navigation-item-options-menu-button,
.itc_navtree_grouptitle:hover, .itc_navtree_nochildren:hover,.itc_navtree_item:hover,
.itc_navtree_item_selected,
.navtree-arrow{	
	background: url(img/3a17878812965a73c6684f89182d1ccf7672cd9f.png) repeat-x 0 0;
}

.itcui-navigation-item-selected {
    border-color: #0F6099;
	color: #fff;
}

#mainframe_navtree{
    border-color:#c3ced5;
    border-right-style: solid;
    border-right-width: 1px;
	background-color: transparent!important;
}

.title_username{
	color:#fff;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #cde3f3;
  color:#555555;
}