.datagrid-row{
	height:30px;	
}
.datagrid-cell{
	font-size:12px;
}

.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.pure-label,
.ctrl-label,
.itcui_combo_text,
.input-group-sm > .input-group-btn > .btn {
  font-size: 12px;
}